@import '../assets/styles/variables.scss';

.container {
  color: $color-dark;
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  align-self: center;
  margin-bottom: $margin-small;
  animation: slideInFromLeft 2s 0s ease;
}

.label {
  animation: slideInFromRight 2s 0s ease;
}

.header {
  animation: slideInFromTop 2s 0s ease;
}

.input {
  height: 20px;
  text-align: center;
  margin-right: 1rem;
}

.button {
  height: 25px;
  cursor: pointer;
  transition: all .5s;

  &:hover {
    background-color: gray;
  }
}

.usersWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  perspective: 10000px;
  @media #{$md-device} {
    flex-direction: row;
    perspective: 5000px;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
  }
  95% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
  }
  95% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
